.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
input{
  border: var(--button-background);
}

.image-div{
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.image{
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;


}
img{
  width: 75px;
}
.red-border{
  border: 5px solid red;
}
.grey-border{
  border: 5px solid grey;
}
