
<div class="head">
  <div class="image-div">
    <img [src]="'assets/image' + (data.imageIndex + 1) + '.svg'">
  </div>
  <h1>hai {{data.name}}</h1>
 </div>
    <form [formGroup]= "inputForm" (ngSubmit)="onClick()">
     <div>
      <label class="form-label">Room name</label>
      <input type="text"   #myInputRef  formControlName="name" class="form-control"  placeholder="Room name">
     </div>
     <div>
      <label class="form-label">No of players</label>
      <input type="text"  #inputElement  formControlName="player" class="form-control"  placeholder="No of players">
     </div>

     <button type="submit" [disabled]="inputForm.invalid" >Create</button>
    </form>

