

input , .form-control:focus{
  border-radius: 10px;
  background: linear-gradient(#141923,#141923) padding-box,linear-gradient(to right,#7b72cc,#dc0078,#3871d6) border-box;
  border: 2px solid transparent;
}

